<div class="container-abertura">

  <app-header-abertura />

  <div class="container-all-circles">

    <div class="c">
      <h2 class="title" (click)="goTo('/material-didatico')">Material didático</h2>
      <div class="bar" style="background: #4173cd"></div>
      <div class="container-circle-1" (click)="goTo('/material-didatico')">
        <div class="circle-1">
          <div class="icon-circle-1"></div>
        </div>
      </div>
    </div>

    <div class="c">
      <h2 class="title">Quiz</h2>
      <div class="bar" style="background: #91dea2"></div>
      <div class="container-circle-2">
        <div class="circle-2">
          <div class="icon-circle-2"></div>
        </div>
      </div>
    </div>

    <div class="c">
      <h2 class="title">Desenho</h2>
      <div class="bar" style="background: #f4aeff"></div>
      <div class="container-circle-3">
        <div class="circle-3">
          <div class="icon-circle-3"></div>
        </div>
      </div>
    </div>

    <div class="c">
      <h2 class="title">Youtube</h2>
      <div class="bar" style="background: #ffbfbf"></div>
      <div class="container-circle-4">
        <div class="circle-4">
          <div class="icon-circle-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
