<nav class="navbar-container">
  <a>
    <img
      ngSrc="../assets/img/logo_header_light.png"
      class="img-header"
      width="143"
      height="49"
      alt=""
    />
  </a>

  <div class="info">
    <div class="box-info">
      <fa-icon class="fa-icon" [icon]="faCalendarDays" />
      <p class="text-date">08/02/2023</p>
    </div>

    <p class="bar"></p>

    <div class="box-info">
      <fa-icon class="fa-icon" [icon]="faBell" />
    </div>

    <p class="bar"></p>

    <div class="box-info">
      <img
        ngSrc="../assets/img/user_img.png"
        class="user-img"
        width="40"
        height="40"
        alt=""
      />
      <fa-icon class="fa-icon" [icon]="faCaretDown" />
    </div>
  </div>
</nav>
